/*
 * sloppy code - couldnt figue out how to link application.css file...
 * had same issue with header html.erb file
 * and rails links in _header.html.erb didnt work
 */

header {
	text-align: center;
}

h1 {
	font-family: 'Montserrat', sans-serif;
  margin: 40px 0px 0px 0px;
}



h2, h3 {
	margin: 20px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

nav li {
	list-style-type: none;
	display: block;
	margin: 6px 25%;
}

.small {
	width: 300px;
	height: auto;
	clear: both;
	display: block;
	margin: 20px 0px;
	box-shadow: 0 1px 7px rgba(0,0,0,0.6);
}

.nav {
	text-decoration: none;
}

.nav:hover {
	text-decoration: none;
}

figure {
	margin: 10px 0px !important;
}

@media only screen and (min-width : 760px) {
	
	nav li {
		display: inline-block;
		margin: 6px 12%;
	}

	nav {
		margin: 0px 0px 60px 0px;
		padding: 20px 0px;
		border-bottom: 1px solid black;
	}

	.small {
		margin: 20px 40px;
		width: 380px;
	}
}
