<% provide(:title, "about") %>

<h3>about cree</h3>

<figure class="five columns offset-by-four">
	<img src="https://s3.amazonaws.com/andersan/headshot.jpg" alt="cree headshot photo">
	<figcaption>"gender is a social construct" - cree</figcaption>
</figure>


<div class="twelve columns offset-by-two"><p>my name is chris anderson and i am currently searching for work developing web and/or mobile applications. a student at the university of Michigan and a proud Michigander, my field of study is international relations, with my studies taking a focus on political economy and economic development in latin america.  i speak english, spanish and portuguese comfortably and hope to live in latin america in the future.</p></div>


<h3 style="clear: both;">web development skills </h3>

<p class="twelve columns offset-by-two">i enjoy working with MVC web frameworks like rails and flask and i would love to learn node.js. i have taken three computer science classes, one of which was specific to web dev, and have completed a thorough ruby on rails tutorial. my portfolio is fairly representative of my skillset (although most of the projects were in collaboration with teams). </p>



<p class="twelve columns offset-by-two">it is important to note that my name does not have anything to do with the First Nation Cree People, but is a nickname some friends use to refer to me. any miscommunication caused by this is regrettable and i encourage you to contact me if you take issue with this naming of my web page.</p> 

<p class="twelve columns offset-by-two">if you would like to contact me for a freelance project, to chat in portuguese or for any other reason, you can find me at andersan@umich.edu!</p>

<div style="clear: both;"></div>