<% provide(:title, "about") %>

<h3>about cree</h2>
<p>chris anderson is a student at the university of Michigan studying international studies, with a concentration in political economy and development in latin america. chris speaks english, spanish and portuguese comfortably and hopes to live in latin america in the future.</p> 


<h3>web development skills </h2>
<p>i enjoy working with MVC web frameworks like rails and django and would love to learn node.js. i have taken three computer science classes, one of which was specific to web dev, and have completed a thorough ruby on rails tutorial. my portfolio is fairly representative of my skillset (although most of the projects were in collaboration with teams). </p>



<p>it is important to note that my name does not have anything to do with the First Nation Cree People, but is a nickname some friends use to refer to me. any miscommunication caused by this is regrettable and i encourage you to contact me if you take issue with this naming of my web page.</p> 