<% provide(:title, "about") %>

<h3>about cree</h3>

<figure>
	<img src="https://s3.amazonaws.com/andersan/blog/headshot.jpg" alt="cree headshot photo">
</figure>


<div class="twelve columns offset-by-two"><p></p></div>


<h3 style="clear: both;">web development skills </h3>

<div class="twelve columns offset-by-two">
<p class="twelve columns offset-by-two">aws solutions architect and aws developer certified. since August 2017, I've been working work visual development frameworks at <a src="airdev.co">airdev</a>. mostly, i use automated testing (WebDriver) and cloud technologies to automate processes and wire code into "no-code" apps.</p> 

<p class="twelve columns offset-by-two">some background in responsive web development, programming using object oriented languages (Java, python, c++, ruby), and love learning new things whenever i can.</p>

<p class="twelve columns offset-by-two">grew up in okemos, michigan and studied international relations at the university of michigan from 2013-2017. studied abroad in brazil (funded by the us department of education) and taught in portugal. i love soccer and enjoy cooking and baking with friends in my free time.</p>

<h3>contact</h3>

<p class="twelve columns offset-by-two">feel free to send me a message at andersan@umich.edu about any of the professional projects or personal publications found in this portfolio.</p>
</div>

<div style="clear: both;"></div>