<% provide(:title, "about") %>

<h3>about cree</h3>

<figure class="five columns offset-by-four">
	<img src="https://s3.amazonaws.com/andersan/blog/headshot.jpg" alt="cree headshot photo">
	<figcaption>"gender is a social construct" - cree</figcaption>
</figure>


<div class="twelve columns offset-by-two"><p>my name is chris anderson and i am currently searching for work developing web and/or mobile applications. a student at the University of Michigan and a proud Michigander, i am excited to be living in Brazil for four months. you can contact me in english, spanish or portuguese.</p></div>


<h3 style="clear: both;">web development skills </h3>

<div class="twelve columns offset-by-two">
<p class="twelve columns offset-by-two">MVC web frameworks like rails and flask are great to work with, and utilizing both scripting langauges and database queries to manage databases is really interesting to me. outside of the responsive web development skills (html/css/js) shown in the portfolio, i have a little experience with C++ and Java and a solid understanding of object-oriented programming.</p>

<h3>contact</h3>

<p class="twelve columns offset-by-two">if you would like to contact me freelance project or anything related to employment, you can reach me at andersan@umich.edu.</p>
</div>

<div style="clear: both;"></div>