<!-- airdev visual development... ContextClue + GramChat -->

<h2>airdev - cloud systems architect and developer</h2>

<h3>cloud development / aws devops / selenium webdriver</h3>
  
<a class="fancybox" rel="serena"
title="TODO: title"
href="TODO: URL">
<img class="small" id="TODO: id"
style="display: inline-block;"
src="TODO: URL, compressed pic"
alt="TODO: alt tab">
</a>

<div class="container center description">
	<h4 class="center" style="block">Ongoing Project - Started Fall 2017</h4>
	<ul>
		<br>
		<row>
			<li class="five columns">architected cloud-based tool used with bubble applications</li>
			<li class="five columns"></li>
			<li class="five columns">transformed basic “no-code” tool to the cloud using Selenium WebDriver and AWS’ EC2/S3/Lambda</li>
		</row>
		<row>
			<li class="seven columns ">bubble visual development framework</li>
			<li class="seven columns ">working in an agile team environment</li>
		</row>
	</ul>
</div>

<br>

<h2>airdev - kickboxing crm</h2>

<h3>full-stack development / serverless framework</h3>
  
<a class="fancybox" rel="ilkb"
title="Google Charts powered KPI Dashboard"
href="https://s3.amazonaws.com/andersan/blog/airdev/ilkb/Dashboard.png">
<img class="small" id="ilkb_dashboard"
style="display: inline-block;"
src="https://s3.amazonaws.com/andersan/blog/airdev/ilkb/Dashboard.png"
alt="Google Charts powered KPI Dashboard">
</a>
  
<a class="fancybox" rel="ilkb"
title="Performance analytics on a single page application using browser devtools"
href="https://s3.amazonaws.com/andersan/blog/airdev/ilkb/Page_Performance_Analytics.png">
<img class="small" id="ilkb_performance"
style="display: inline-block;"
src="https://s3.amazonaws.com/andersan/blog/airdev/ilkb/Page_Performance_Analytics.png"
alt="Dev tools view of website performance analysis">
</a>

<div class="container center description">
	<h4 class="center" style="block">Winter-Spring 2018</h4>
	<ul>
		<br>
		<row>
			<li class="five columns">joined a medium sized team (>10 people) on a client project</li>
			<li class="five columns">led performance and security efforts on the application</li>
			<li class="five columns">implemented application data exports</li>
		</row>
		<row>
			<li class="seven columns ">connected app with various api services and custom functions on aws lambda</li>
			<li class="seven columns ">working in an flexible agile/scrum-esque team environment</li>
		</row>
	</ul>
</div>

<br>

<h2>airdev fellowship - visual web development</h2>

<h3>design skills / project management / full-stack development</h3>
  
<a class="fancybox" rel="airdev" 
title="TODO: title" 
href="TODO: URL">
<img class="small" id="TODO: id"
style="display: inline-block;"
src="TODO: URL, compressed pic"
alt="TODO: alt tab">
</a>

<div class="container center description">
	<h4 class="center" style="block">Summer 2017</h4>
	<ul>
		<br>
		<row>
			<li class="five columns">developed 2 web applications from start to end of product cycle</li>
			<li class="five columns">integrated applications with external SMS and voice call APIs</li>
			<li class="five columns">thoroughly tested apps' display and UX on mobile, tablet and desktops</li>
		</row>
		<row>
			<li class="seven columns ">bubble visual development framework</li>
			<li class="seven columns ">working in an agile team environment</li>
		</row>
	</ul>
</div>

<br>

<h2>econometric analysis on Brazilian macroeconomic and social indicators</h2>

<h3>econometrics / data analysis / data visualization / python</h3>
  
<a class="fancybox" rel="br_dev_econ_figures" 
title="figures showing linear regressions comparing income to education outcomes and income to health indicators" 
href="TODO: URL">
<img class="small" id="br_econ_figures"
style="display: inline-block;"
src="TODO: URL, compressed pic"
alt="sample from economics paper: graphs">
</a>

<a class="fancybox" rel="br_dev_econ_models" 
title="" 
href="sample from paper which includes model of economic returns to education">
<img class="small" id="br_econ_models"
style="display: inline-block;"
src="TODO: URL, compressed pic"
alt="sample from economics paper: economic models">
</a>

<a class="fancybox" rel="br_dev_econ_table" 
title="table of R squared values and intercept coefficients from fixed effects regression (one of 4 regressions carried out on 5 different geographic groupings of data)" 
href="TODO: URL">
<img class="small" id="br_econ_table"
style="display: inline-block;"
src="TODO: URL, compressed pic"
alt="fixed effects regression results, stored as an image file">
</a>

<div class="container center description">
	<h4 class="center" style="block">Summer 2017</h4>
	<ul>
		<br>
		<row>
			<li class="five columns">conducted independent econometric analysis on Brazilian social indicators (MHDI)</li>
			<li class="five columns">used python pandas (data analysis library) to compare effects of education, health, and income on each other</li>
			<li class="five columns">carried out fixed effects regression with dummy variales for location and time</li>
		</row>
		<row>
			<li class="seven columns ">professional report presentation</li>
			<li class="seven columns ">synthesis of economic theory, econometrics and historical analysis</li>
		</row>
	</ul>
</div>

<br>

<!-- TODO: grunt email workflow -->

<h2>email newsletter process improvement</h2>

<h3>grunt / js / precompiling assets / scss</h3> 

<a class="fancybox" rel="grunt" 
title="TODO: title" 
href="TODO: URL">
<img class="small" id="TODO: id"
style="display: inline-block;"
src="TODO: URL, compressed pic"
alt="TODO: alt tab">
</a>

<div class="container center description">
	<h4 class="center" style="block">April 2017</h4>
	<ul>
		<br>
		<row>
			<li class="five columns">todo: description of project task</li>
			<li class="five columns">todo: description of project task</li>
			<li class="five columns">todo: description of project task</li>
		</row>
		<row>
			<li class="seven columns ">todo: description of project task</li>
			<li class="seven columns ">todo: description of project task</li>
		</row>
	</ul>
</div>

<br>

<!-- detroit partnership wordpress -->

<h2>detroit partnership</h2>

<h3>wordpress / php / responsive web development / content management</h3> 

<a class="fancybox" rel="DP" 
title="tablet view of detroit partnership website (>960px)" 
href="https://s3.amazonaws.com/andersan/blog/DP/home_laptop.png">
<img class="small" id="DP_laptop"
style="display: inline-block;"
src="https://s3.amazonaws.com/andersan/blog/DP/home_laptop.png"
alt="TODO: alt text">
</a>

<a class="fancybox" rel="DP" 
title="mobile view of the website, with a custom dropdown menu (<480px)" 
href="https://s3.amazonaws.com/andersan/blog/DP/home_mobile_dropdown_menu_solo.png">
<img class="small" id="DP_mobile_menu"
style="display: inline-block;"
src="https://s3.amazonaws.com/andersan/blog/DP/home_mobile_dropdown_menu_solo.png"
alt="TODO: alt text">
</a>

<a class="fancybox" rel="DP" 
title="features edited to display vertically in mobile (<480px)" 
href="https://s3.amazonaws.com/andersan/blog/DP/mobile_features.png">
<img class="small" id="DP_mobile_features"
style="display: inline-block;"
src="https://s3.amazonaws.com/andersan/blog/DP/mobile_features.png"
alt="TODO: alt text">
</a>

<a class="fancybox" rel="DP" 
title="modified wordpress slider plugin to work with mobile devices (<480px)"href="https://s3.amazonaws.com/andersan/blog/DP/mobile_slider.png">
<img class="small" id="DP_mobile_slider"
style="display: inline-block;"
src="https://s3.amazonaws.com/andersan/blog/DP/mobile_slider.png"
alt="TODO: alt text">
</a>

<a class="fancybox" rel="DP" 
title="tablet view of the website (<960px)" 
href="https://s3.amazonaws.com/andersan/blog/DP/home_tablet.png">
<img class="small" id="DP_tablet"
style="display: inline-block;"
src="https://s3.amazonaws.com/andersan/blog/DP/home_tablet.png"
alt="TODO: alt">
</a>
<div class="container center description">
	<h4 class="center" style="block">spring 2016</h4>
	<ul>
		<br>
		<row>
			<li class="five columns">updated website to be responsive (mobile, tablet and full-size)</li>
			<li class="five columns">modified a wordpress template and set up a local wordpress dev environment on my chromebook/linux hybrid</li>
			<li class="five columns">used google maps API and improved layout of program registration page</li>
		</row>
		<row>
			<li class="seven columns ">CMS experience</li>
			<li class="seven columns ">web hosting experience (hostgator, FTP)</li>
		</row>
	</ul>
</div>

<br>

<!-- eecs 183 final project -->

<h2><a href="http://mere-zebra-courses.herokuapp.com">course guide app</a></h2>

<h3> flask / python / github / APIs / team project</h3>

<a class="fancybox" rel="cs183" 
title="all content is dynamically retreived and displayed using python and a university of michigan course guide API"
href="https://s3.amazonaws.com/andersan/blog/course_guide/mere-zebra.png">
<img class="small" src="https://s3.amazonaws.com/andersan/blog/course_guide/mere-zebra.png" 
alt="course display page">
</a>

<a class="fancybox" rel="cs183" 
title="note the navigable breadcrumbs (JQuery plugin)"
href="https://s3.amazonaws.com/andersan/blog/course_guide/scheduler_screenshot.png">
<img class="small" src="https://s3.amazonaws.com/andersan/blog/course_guide/scheduler_screenshot.png"
alt="course browse page">
</a>

<div class="container center description">
	<h4 class="center" style="block">spring 2016</h4>
	<ul>
		<br>
		<row>
			<li class="five columns">google maps API + university of michigan course guide API</li>
			<li class="five columns">python used to dynamically serve content</li>
			<li class="five columns">worked in a team setting with various complementary skillsets</li>
		</row>
		<row>
			<li class="seven columns ">handled web hosting (heroku)</li>
			<li class="seven columns ">Github use on a team project</li>
		</row>
	</ul>
</div>

<br>

<!-- rails tutorial --> 

<h2><a href="http://evening-fjord-9218.herokuapp.com">microblogging / twitter clone</a></h2>

<h3>ruby on rails / heroku / github / app development</h3> 

<a class="fancybox" rel="motabook" 
title="a ruby on rails tutorial microblogging web app, made using Michael Hartl's rails tutorial" 
href="https://s3.amazonaws.com/andersan/blog/rails_tutorial/+users_Ruby_on_Rails.jpg">
<img class="small" id="mota_users"
style="display: inline-block;"
src="https://s3.amazonaws.com/andersan/blog/rails_tutorial/users_Ruby_on_Rails.jpg"
alt="microblog-users"/></a>

<a class="fancybox" title= "the 'micropost' feed" rel="motabook" 
href="https://s3.amazonaws.com/andersan/blog/rails_tutorial/feed_Ruby_on_Rails.jpg">
<img class="small" id="mota_feed"
style="display: inline-block;" 
src="https://s3.amazonaws.com/andersan/blog/rails_tutorial/feed_Ruby_on_Rails.jpg" 
alt="microblog-feed"/> </a>

<div class="container center description">
	<h4 class="center" style="block">summer 2015</h4>
	<ul>
		<br>
		<row>
			<li class="seven columns">ruby on rails gems used extensively: authentication/authorization, user profiles, encryption, pagination</li>
			<li class="seven columns">relationships between models essential to app (follow/unfollow feature)</li>
		</row>
	<br>
		<row style="display: block; clear: both;">
			<li class="seven columns ">set up Rails dev environment on a newly installed Linux/crouton system (Ubuntu 14.04)</li>
			<li class="seven columns ">worked with sporadic internet access, often developing locally offline</li>
		</row>
	</ul>
</div>

<br>



<!-- removed lucky kitchen - poor design of website, low quality for portfolio -->
<!-- si 206 projects -->
<!--<h2><a href="http://andersan.net23.net/group_project">web dev final project</a></h2>
<h3>responsive and accessible html / css / php / javascript / jquery / team project</h3>
<p class="column">april 2015</p>
<img class="small fancybox" id="si206" title="final project for a web design course. created the website's pages' php/html structure and created a form with validation rules." src="https://s3.amazonaws.com/andersan/lucky-kitchen.png" alt="lucky kitchen order page, php form">
<br>-->


<!-- TODO: move this up on page... no longer an ongoing project -->

<h3>ongoing projects</h3>

<h2><a href="http://speaksy.herokuapp.com">speaksy ("speak-easy")</a></h2>
<h3>ruby on rails / full stack development / group work</h3> 

<div class="container center description">
	<h4 class="center" style="block">summer 2015</h4>
	<ul>
		<br>
		<row>
			<li class="five columns">went through first stages of start-up agile development method</li>
			<li class="five columns">formed a development team and entered into a funding competition</li>
			<li class="five columns">used collaborative tools like trello</li>
		</row>
		<row>
			<li class="seven columns ">built barebones of application</li>
			<li class="seven columns ">management experience</li>
		</row>
	</ul>
</div>

<br>
<div class="container">
	<p class="six columns offset-by-five center">
		co-founder Santos <a href="http://speaksy.org">made this website</a> when we began to work on the project, conceptualizing speakeasy as an open-sourced language learning platform
	</p>
</div>

<br>


<h2>my dev environment</h2>
<h3>dev ops / cli / scripts / sql</h3>

<a class="fancybox" 
title= "entering a 'chroot' in crouton, a Chrome OS Linux port that allows for simultaneous Chrome and Linux running" 
rel="chromebook" 
href="https://s3.amazonaws.com/andersan/blog/dev_environ/chrome-cli.png">
<img class="small"
style="display: inline-block;" 
src="https://s3.amazonaws.com/andersan/blog/dev_environ/chrome-cli.png" 
alt="chrome OS Command Line Interface"/> 
</a>

<a class="fancybox" title= "development envrironment: sublime, xterm and chromium" rel="chromebook"
href="https://s3.amazonaws.com/andersan/blog/dev_environ/sublime-screenshot.png">
<img class="small"
style="display: inline-block;" 
src="https://s3.amazonaws.com/andersan/blog/dev_environ/sublime-screenshot.png" 
alt="microblog-feed"/> 	
</a>

<div class="container center description">
	<h4 class="center" style="block">Chrome OS/Ubuntu/OSX</h4>
	<ul>
		<br>
		<row>
			<li class="seven columns">dual-booting Chrome OS and Ubuntu through crouton, which allows simultaneous running of both</li>
			<li class="seven columns">Ubuntu 14.04, considering switching to systemd from upstart init process</li>
		</row>
		<row style="display: block; float: both;">
			<li class="seven columns ">very comfortable on command line - I prefer this powerful tool to window-based development for many projects</li>
			<li class="seven columns ">now working on a macbook air for work at airdev</li>
		</row>
	</ul>
</div>

<br>

<script type="text/javascript">
	$(document).ready(function() {
		$("a.fancybox").fancybox();
	});
</script>