<!-- include screenshots and links to websites/work... add dates to projects??? -->

<h2><a href="http://speaksy.herokuapp.com">speaksy</a></h2>
<h3>ruby on rails / html</h3> 
<p>project description: a crowd-sourced language-learning website, built in ruby on rails and hosted on heroku. development team consists of several students at stanford university and the university of michigan.
</p>
<img src="" alt="">
</br>

<h2><a href="http://thedetroitpartnership.org">detroit partnership</a></h2>
<h3>wordpress / php / responsive web development / lamp</h3> 
<p>project description: updating website to be responsive (mobile, tablet and full-size). also improving method of volunteer registration, using both google maps API and a more user-friendly layout.
</p>
<img src="" alt="">
</br>


<h3>coursework/proof of skills</h3>

<!-- rails tutorial -->
<h2><a href="http://evening-fjord-9218.herokuapp.com">"motabook"</a></h2>
<h3>ruby on rails / heroku / github</h3>
<p>description: a  <a href="https://railstutorial.org">ruby on rails tutorial</a> microblogging app</p>
<img src="" alt="">
</br>

<!-- eecs 183 final project -->
<h2><a href="http://mere-zebra-courses.herokuapp.com">course guide app</a></h2>
<h3>python / django / github / collaborative work</h3>
<p>description:</p>
<img src="" alt="">
</br>

<!-- si 206 projects -->
<h2><a href="http://andersan.net23.net/group_project">web dev final project</a></h2>
<h3>responsive and accessible html / css / javascript / jquery / group work</h3>
<p>description:</p>
<img src="" alt="">
</br>

<h2>my dev environment</h2>
<p>since november 2014, i have been working on a toshiba chromebook 2. all of my developing work has been done on linux, currently in an ubuntu 14.04 unity desktop. this has provided some challenges (especially with photo editing software), but the system is fast enough for the projects i have done and i am now very comfortable working from the command line on a linux machine.</p>
<img src="" alt="">
</br>