<nav>
	<div>
		<ul style="text-align: center;">
			<li><%= link_to "projects", "/", class: "nav" %></li>
			<li><%= link_to "about cree", "/about", class: "nav" %></li>
			<!--<li><%= link_to "contact", "/contact", class: "nav" %></li>-->
			<li><%= link_to "thoughts", "views/monologue/posts/index", class: "nav" %></li>
		</ul>
	</div>
</nav>