/*
 *= require_tree
 *= require monologue/blog/skeleton/base
 *= require monologue/blog/skeleton/skeleton
 *= require monologue/blog/skeleton/layout
 *= require monologue/foundation_icons/social_foundicons
 *= require monologue/blog/monologue
 *= require monologue/blog/fonts
 *= require monologue/blog/custom
 *= require fancybox
 *= require_self
 */
header {
	text-align: center;	
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

h2, h3, h4 {
		margin: 20px 0px;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		text-align: center;
}

h1 a, h2 a, h3 a {
	text-decoration: none;
}
nav li {
	list-style-type: none;
	display: block;
	margin: 6px 0%;
}

.small {
	width: 300px;
	height: auto;
	max-height: 200px;
	object-fit: cover;
	clear: both;
	display: inline-block;
	margin: 20px 0px;
	box-shadow: 0 1px 7px rgba(0,0,0,0.6);
}

/* fix monologue ul indentation issue... may cause problems on blog posts */

ul {
	margin-left: 0px;
}

div.description h4 {
	font-size: 24px;
}

div.description {
	display: none;
}

.more-info {
	text-align: center;
	font-size: 16px;
}

/* add spacing to descriptions of projects */

ul row li.columns.five, li.columns.seven {
	margin-bottom: 8px;
	font-size: 16px;
}

/* about page profile image */

figure {
	text-align: center;
}

figure img {
	display:block; 
	margin: 0 auto; 
	width: 300px;
	height: auto;
}

.nav {
	text-decoration: none;
}

.nav:hover {
	text-decoration: none;
}

.center {
	text-align: center;
}

nav ul {
	margin-left: 0px;
}

/* figure on about page */
figure {
	margin: 10px 0px;
}

p, p.twelve.columns {
	margin: 10px 0px;
	padding: 10px;
}

@media only screen and (min-width : 760px) {
	ul li {

	}
	
	nav li {
		display: inline-block;
		margin: 6px 12%;
	}
	
	h1 {
	  margin: 40px 0px 40px 0px;
	}

	h2, h3{
		margin: 20px 0px;
	}

	nav {
		margin: 0px 0px 60px 0px;
		padding: 20px 0px;
		border-bottom: 1px solid black;
	}
	.small {
		margin: 20px 40px;
		width: 380px;
	}

}