/*
 *= require_tree
 *= require monologue/blog/skeleton/base
 *= require monologue/blog/skeleton/skeleton
 *= require monologue/blog/skeleton/layout
 *= require monologue/foundation_icons/social_foundicons
 *= require monologue/blog/monologue
 *= require monologue/blog/fonts
 *= require monologue/blog/custom
 *= require fancybox
 *= require_self
 *= require font-awesome

 */
 
header {
	text-align: center;	
	width: 98% !important;
	margin: 0 1% !important;
}

.container {
	width: 1280px;
}

.main {
	margin: 30px auto;
    max-width: 1220px;
    width: calc(100% - 10vw);
    border: #5B2C80 3px solid;
    border-radius: 25px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	margin: 40px;
}

h2, h3, h4 {
		margin: 20px 0px;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		text-align: center;
}

h1 a, h2 a, h3 a {
	text-decoration: none;
}

nav {
	border-bottom: 1px solid black;
	margin: 0px 0px 30px 0px;
	padding: 20px 0px;
}

nav .pages {
	list-style-type: none;
	display: block;
	margin: 6px 0%;
	font-size: 16px;
	text-align: center;
}

nav .pages li {
	display: inline-block;
	margin: 3% 0;
	width: 100%;
}

nav .icons {
	font-size: 32px;
	text-align: center;
	margin: 15px 0px 0px 0px;
}

nav .icons a {
	display: inline-block;
	width: 50px;
	margin: 0px 0%;
}

.small {
	width: auto;
	height: auto;
	max-height: 200px;
	object-fit: cover;
	clear: both;
	display: inline-block;
	margin: 20px 0px;
	box-shadow: 0 1px 7px rgba(0,0,0,0.6);
}

.main {
	background-color: #fff;
}


/* fix monologue ul indentation issue... may cause problems on blog posts */

ul {
	margin-left: 0px;
}

div.description {
	display: none;
	font-size: 16px;
}

div.description h4 {
	font-size: 24px;
}

div.description div {
	margin: 10px;
}

.more-info {
	text-align: center;
	font-size: 16px;
}

/* svg header styles from main page TODO move to another file, don't load on every page?? */

.megatron {
  height: 50vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
	background-color: rgba(65, 9, 93, 0.8);
	background-image:
	repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
}

svg.intro {
  background: linear-gradient(135deg, #aa3bb1, #582a7e);
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: 0 30px 50px -20px #2e0642;
}
svg.intro .text {
  display: none;
}
svg.intro.go .text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  display: block;
}
svg.intro.go .text-stroke {
  fill: none;
  stroke: #51256f;
  stroke-width: 2.8px;
  stroke-dashoffset: -900;
  stroke-dasharray: 900;
  stroke-linecap: butt;
  stroke-linejoin: round;
  -webkit-animation: dash 2.5s ease-in-out forwards;
          animation: dash 2.5s ease-in-out forwards;
}
svg.intro.go .text-stroke:nth-child(2) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}
svg.intro.go .text-stroke:nth-child(3) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}
svg.intro.go .text-stroke-2 {
  stroke: #f6bdfa;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
svg.intro.go .text-stroke:nth-child(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
svg.intro.go .text-stroke:nth-child(6) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

@-webkit-keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

.reload {
	cursor: pointer;
}

/*.reload {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #fff;
  border: none;
  border-radius: 20px;
  outline: none !important;
  font-size: 11px;
  line-height: 1.5;
  padding: 8px 12px;
  text-transform: uppercase;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 6px 7px #350e4c;
  transition: all 0.1s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.reload:hover {
  box-shadow: 0 4px 4px #350e4c;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.reload:active {
  box-shadow: 0 1px 2px #244B94;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.reload svg {
  vertical-align: middle;
  position: relative;
  top: -2px;
}*/


/* about page profile image */

figure {
	text-align: center;
}

figure img {
	display:block; 
	margin: 0 auto; 
	width: 300px;
	height: auto;
}

.nav {
	text-decoration: none;
}

.nav:hover {
	text-decoration: none;
}

.center {
	text-align: center;
}

nav ul {
	margin-left: 0px;
}

/* figure on about page */
figure {
	margin: 10px 0px;
}

p, p.twelve.columns {
	margin: 10px 0px;
	padding: 10px;
}

@media only screen and (min-width : 760px) {

	nav .pages li {
		margin: 0;
		width: 33%;
	}
	
	nav li {
		display: inline-block;
		margin: 6px 12%;
	}
	
	h1 {
		margin: 40px 0px 40px 0px;
	}

	h2, h3{
		margin: 20px 0px;
	}

	nav {
		margin: 0px 0px 60px 0px;
		padding: 20px 0px;
	}

	.small {
		margin: 20px 40px;
		width: 380px;
	}

}