/* -------------------------------------
 * For horizontal version, set the
 * $vertical variable to false
 * ------------------------------------- */
/* -------------------------------------
 * General Style
 * ------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
.timeline {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 5%;
  font-size: 100%;
  font-family: "Noto Sans", sans-serif;
  color: #181818;
  width: 90%;
  /*background: #48b379;*/
}

h2.timeline {
  margin: 3em 0 0 0;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid #181818;
}
#timeline li {
  margin: 25px 0;
  font-size: 16px;
  position: relative;
}

#timeline .work li {
  list-style-type: disc;
}

#timeline p {
  margin: 0 0 15px;
  font-size: 16px;
}

#timeline label {
  font-weight: normal ;
}

.date {
  margin-top: 0px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: 0px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  background: #9253c6;
  border: 5px solid #181818;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 0px;
  padding: 0px;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
  /*display: none;*/
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  /*border-right-color: #48b379;*/
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}

.content div {
  width: 100%;
  text-align: center;
}

.content h3 {
  text-align: center;
  margin-top: 0px;
}

.content img {
  width: 90%;
  text-align: center;
}

.content p, .content li, .content * {
  max-height: 0;
  padding: 0;
  color: #181818;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  visibility: hidden;
  /*overflow: hidden;*/
}
.content .skills {
  text-align: center;
}

.content .fancy_img {
  font-size: 0px;
  line-height: 0px; 
}

.timeline label {
  font-size: 24px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 10px;
  transition: transform 0.2s linear;
}

.radio {
  visibility: hidden;
  height: 0px;
  transition: visibility 0.2s linear;
}

.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
  margin: 0 20%;
  height: 0px;
  visibility: hidden;
}

.radio:checked + .relative .circle {
  background: #c29fdf;
}

.radio:checked ~ .content {
  max-height: 3800px;
  border-color: #181818;
  padding: 20px;
  margin-right: 20px;
  visibility: visible; 
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 1.1s linear, margin-right 1.1s linear, visibility 1.1s linear;
}

.radio:checked ~ .content p,
.radio:checked ~ .content li,
.radio:checked ~ .content * {
  max-height: 3000px;
  display: inherit;
  visibility: visible;
  transition: color 1.1s linear, visibility 1.1s linear;
}

.radio:checked ~ .content li {
  display: list-item;
}


/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
  #timeline li {
    margin: 50px 0;
  }

  .radio:checked + .relative label {
    margin: 0;
  }

  #timeline .content li {
    margin: 15px 0;
  }

  .timeline label {
    width: 85%;
    font-size: 1.1em;
    display: block;
    top: 35px;
    transform: translateX(18px);
  }

  .content {
    padding-top: 60px;
    border-color: #181818;
  }
  .content:before, .content:after {
    border: solid transparent;
    bottom: 100%;
  }
  .content:before {
    border-bottom-color: inherit;
    border-width: 17px;
    top: -16px;
    left: 50px;
    margin-left: -17px;
  }
  .content:after {
    /*border-bottom-color: #48b379;*/
    border-width: 20px;
    top: -20px;
    left: 50px;
    margin-left: -20px;
  }

  .content p {
    font-size: 0.9em;
    line-height: 1.4;
  }

  .radio:checked ~ .content {
    margin-right: 0px;
    transform: translateX(0px);
  }

  .circle, .date {
    display: none;
  }
}
