<!-- main header -->
<header class="main-header sixteen columns clearfix">
  <h1><a style="text-decoration: none;" href="<%= root_path %>"><%=Monologue::Config.site_name%></a></h1>
  <h2>a web development portfolio</h2>
  
  <!-- navbar -->    
	<%= render "layouts/navbar" %>

</header>