<nav>
	<div>
		<ul style="text-align: center;">
			<li><%= link_to "projects", root_path, class: "nav" %></li>
			<li><%= link_to "about cree", about_path, class: "nav" %></li>
			<!--<li><%= link_to "contact", contact_path, class: "nav" %></li>-->
			<li><%= link_to "thoughts", monologue_path, class: "nav" %></li>
		</ul>
	</div>
</nav>