<div class="project">
	<h2><%= projects: %></h2> <!-- should display project title -->

	<h3><%= projects: %></h3> <!-- should display something like cloud development | aws devops | selenium webdriver -->
	  

	<div class="center">
		<div style="display: inline-block;">
			<a class="fancybox" rel="serena"
		title="Serena: an internal AirDev tool built on AWS and Bubble"
		href="https://s3.amazonaws.com/andersan/blog/airdev/serena/serena-architecture.webp">	
				<img class="small" id="serena-chart"
				style="display: inline-block;"
				src="https://s3.amazonaws.com/andersan/blog/airdev/serena/serena-architecture-small.webp"
				alt="Architecture diagram featuring logos of AWS services and the connections between those services.">
			</a>
		</div>
	</div>

	<div class="container center description">
		<h4 class="center" style="block">Ongoing Project - Started Fall 2017</h4>
		<ul>
			
			<row>
				<li class="seven columns">architected cloud-based tool used with bubble applications</li>
				<li class="seven columns">transformed basic “no-code” tool to the cloud using Selenium WebDriver and AWS’ EC2/S3/Lambda</li>
			</row>
			<row>
				<li class="seven columns ">bubble visual development framework</li>
				<li class="seven columns ">working in an agile team environment</li>
			</row>
		</ul>
	</div>

	<div class="more-info">
		<a>
			more info
		</a>
	</div> 
</div>